.card-picture {
    height: 200px;
    width: 200px;
}
.cards {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    align-items: center;
    text-decoration: none;
}
.ul-cards{
    list-style: none;
}